Analysing the CSV file Peter got.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline


pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', -1)  # or 199

In [2]:
soybean_yield = pd.read_csv('../noahdata/state soybeans.csv',thousands=',')

In [3]:
fertilizer =  pd.read_csv('../noahdata/SOYBEANS-Fertilizers-2019-11-13.csv',thousands=',')

In [4]:
import sys
sys.path.append('../useful_functions/')

In [5]:
import data_merger

In [6]:
data_merger.format_fertilizer(fertilizer)

Hopefully only 3 fertilizer types? If not fix this f.  4

../useful_functions/data_merger.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  g[ftype + ' ' + col] = g[col]
/Users/noahkasmanoff/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,YEAR,LOCATION,NITROGEN APPLICATIONS in LB,"NITROGEN APPLICATIONS in LB / ACRE / APPLICATION, AVG","NITROGEN APPLICATIONS in LB / ACRE / YEAR, AVG","NITROGEN APPLICATIONS in NUMBER, AVG","NITROGEN TREATED in PCT OF AREA PLANTED, AVG",PHOSPHATE APPLICATIONS in LB,"PHOSPHATE APPLICATIONS in LB / ACRE / APPLICATION, AVG","PHOSPHATE APPLICATIONS in LB / ACRE / YEAR, AVG","PHOSPHATE APPLICATIONS in NUMBER, AVG","PHOSPHATE TREATED in PCT OF AREA PLANTED, AVG",POTASH APPLICATIONS in LB,"POTASH APPLICATIONS in LB / ACRE / APPLICATION, AVG","POTASH APPLICATIONS in LB / ACRE / YEAR, AVG","POTASH APPLICATIONS in NUMBER, AVG","POTASH TREATED in PCT OF AREA PLANTED, AVG"
0,1999,ILLINOIS,16200000,18,20,1.1,7,64100000,45,45,1.0,14,304000000,102,103,1.0,28
1,1999,IOWA,23500000,27,30,1.1,7,103500000,55,55,1.0,17,173700000,72,72,1.0,22
2,1999,MINNESOTA,18700000,20,20,1.0,13,29500000,33,33,1.0,13,54500000,58,58,1.0,13
3,2000,ILLINOIS,16800000,14,15,1.0,11,77500000,47,47,1.0,16,286000000,93,95,1.0,29
4,2000,IOWA,81000000,49,49,1.0,15,110100000,47,47,1.0,22,138000000,59,59,1.0,22
5,2000,MINNESOTA,10200000,16,17,1.0,8,24100000,34,35,1.0,9,118600000,67,69,1.0,24
6,2001,ILLINOIS,42800000,37,40,1.0,10,95800000,72,75,1.0,12,250500000,105,105,1.0,22
7,2001,IOWA,9900000,16,17,1.1,5,47900000,45,48,1.0,9,71300000,66,66,1.0,10
8,2001,MINNESOTA,15300000,16,16,1.0,13,32300000,34,34,1.0,13,41500000,48,48,1.0,12
9,2002,ILLINOIS,37500000,20,20,1.0,18,143100000,54,54,1.0,25,422600000,105,105,1.0,38
10,2002,IOWA,9300000,26,26,1.0,3,48300000,70,70,1.0,7,163700000,120,127,1.0,12
11,2002,MINNESOTA,16100000,20,20,1.0,11,34200000,38,38,1.0,12,39100000,52,52,1.0,10
12,2004,ILLINOIS,49500000,22,36,1.6,14,185100000,66,103,1.6,18,525200000,103,164,1.6,32
13,2004,IOWA,38400000,24,39,1.6,10,99800000,58,90,1.5,11,157200000,71,103,1.5,15
14,2004,MINNESOTA,41300000,17,30,1.7,19,81200000,39,60,1.5,18,85600000,46,76,1.6,16
15,2006,ILLINOIS,18100000,15,16,1.1,11,96000000,53,58,1.1,16,290200000,91,94,1.0,31
16,2006,IOWA,10800000,14,14,1.0,7,64400000,54,54,1.0,12,172600000,85,85,1.0,20
17,2006,MINNESOTA,15300000,13,13,1.0,16,53200000,40,40,1.0,18,57400000,48,49,1.0,16
18,2012,ILLINOIS,44700000,24,26,1.1,19,148800000,69,70,1.0,23,387500000,107,109,1.0,39
19,2012,IOWA,19200000,15,16,1.0,13,134500000,55,55,1.0,26,270000000,78,79,1.0,36
20,2012,MINNESOTA,24000000,11,13,1.1,27,80200000,37,38,1.0,30,101000000,52,54,1.0,27
21,2015,ILLINOIS,53200000,23,26,1.1,21,190300000,66,69,1.0,28,486000000,109,114,1.0,44
22,2015,IOWA,32100000,21,21,1.0,15,156800000,53,54,1.0,30,264300000,84,84,1.0,32
23,2015,MINNESOTA,19400000,13,14,1.1,19,102700000,49,50,1.0,27,131200000,58,60,1.0,29
24,2017,ILLINOIS,63800000,22,24,1.1,25,279800000,72,73,1.0,36,713600000,123,127,1.0,53
25,2017,IOWA,14400000,12,12,1.0,13,145000000,62,62,1.0,23,357100000,103,104,1.0,34
26,2017,MINNESOTA,35200000,15,16,1.1,26,95000000,40,41,1.0,28,161000000,57,59,1.0,34

In [ ]:
fertilizer.groupby(["LOCATION","DOMAINCAT","YEAR"])['APPLICATIONS in LB'].value_counts().to_frame()

One idea now is to expand these columns so it goes year state fertilizer application

In [ ]:
fertilizers = []


for ftype, g in fertilizer.groupby("DOMAINCAT"):
    ftype = ftype.split('(')[1].split(')')[0]
    for col in g.columns[8:]:
        g[ftype + ' ' + col] = g[col]
        del g[col]
    g.drop(columns= ['STATE ANSI', 'ASD CODE', 'COUNTY ANSI',
       'REFERENCE PERIOD', 'COMMODITY','DOMAINCAT'],inplace=True)
    fertilizers.append(g)

In [ ]:
fertilizer_df = pd.merge(fertilizers[0],fertilizers[1],on=['YEAR','LOCATION'])

In [ ]:
fertilizer_df = fertilizer_df.merge(fertilizers[2],on = ['YEAR','LOCATION'])

In [ ]:
fertilizer_df.columns

# Now try and merge fertilizer df with soybeans!

In [ ]:
state_soybean_yield = soybean_yield.loc[soybean_yield['REFERENCE PERIOD'] == 'YEAR']

In [ ]:
state_yields = state_soybean_yield.merge(fertilizer_df,on = ['YEAR',
                                             'LOCATION'])

In [ ]:
state_yields.columns

In [ ]:
X = state_yields[['NITROGEN APPLICATIONS in LB',
       'NITROGEN APPLICATIONS in LB / ACRE / APPLICATION, AVG',
       'NITROGEN APPLICATIONS in LB / ACRE / YEAR, AVG',
       'NITROGEN APPLICATIONS in NUMBER, AVG',
       'NITROGEN TREATED in PCT OF AREA PLANTED, AVG',
       'PHOSPHATE APPLICATIONS in LB',
       'PHOSPHATE APPLICATIONS in LB / ACRE / APPLICATION, AVG',
       'PHOSPHATE APPLICATIONS in LB / ACRE / YEAR, AVG',
       'PHOSPHATE APPLICATIONS in NUMBER, AVG',
       'PHOSPHATE TREATED in PCT OF AREA PLANTED, AVG',
       'POTASH APPLICATIONS in LB',
       'POTASH APPLICATIONS in LB / ACRE / APPLICATION, AVG',
       'POTASH APPLICATIONS in LB / ACRE / YEAR, AVG',
       'POTASH APPLICATIONS in NUMBER, AVG',
       'POTASH TREATED in PCT OF AREA PLANTED, AVG']]
X = X.astype(float)
X_df = X.copy(deep = True)
y = state_yields['YIELD in BU / ACRE']
y = y.astype(float)

In [ ]:
# must normalize first! 

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test  = train_test_split(X,y)

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
linreg = LinearRegression()

In [ ]:
linreg.fit(X_train,y_train)

In [ ]:
linreg.score(X_test,y_test)

So that is our baseline RSS score... not great, not terrible. 


Hopefully someone reading this has watched Chernobyl. 


Now below I'll add in a few other EDA steps, and hope to add more or derive better features later on.

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(15,15))
sns.heatmap(X_df.corr())

What's interesting about this grid is the anti-correlation between different fertilizer types... hmmmmm