In this notebook I'll merge together the crop and climate datasets for one large panel

In [1]:
import numpy as np
import pandas as pd
import os,sys

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
%matplotlib inline

In [2]:
climate_df = pd.read_csv('../data/climate_df_withtemp.csv')

In [4]:
climate_df = climate_df[climate_df.columns[2:]]

In [6]:
climate_df.sample(n=1)

,LOCATION,YEAR,Cooling_degree_days,Heating_degree_days,PDSI,PHDI,Palmer-Z-index,Crop Moisture Stress Index (CMSI),Avg_Temp_Season_1,Avg_Temp_Season_2,Avg_Temp_Season_3,Avg_Temp_Season_4,Max_Temp_Season_1,Max_Temp_Season_2,Max_Temp_Season_3,Max_Temp_Season_4,Min_Temp_Season_1,Min_Temp_Season_2,Min_Temp_Season_3,Min_Temp_Season_4
350,KENTUCKY,2003,1013,4595,2.8175,2.8175,1.21,22.93,36.933333,63.533333,72.433333,48.066667,46.233333,74.566667,83.0,58.666667,27.566667,52.533333,61.833333,37.466667

In [7]:
soybean_yield = pd.read_csv('../NOAH/dat/clean_yield.csv')

In [9]:
soybean_yield.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 741 entries, 0 to 740
Data columns (total 6 columns):
YEAR                       741 non-null int64
LOCATION                   741 non-null object
AREA HARVESTED in ACRES    741 non-null float64
AREA PLANTED in ACRES      741 non-null float64
PRODUCTION in BU           741 non-null float64
YIELD in BU / ACRE         741 non-null float64
dtypes: float64(4), int64(1), object(1)
memory usage: 34.9+ KB

In [12]:
panel_df = soybean_yield.merge(climate_df,on=['YEAR','LOCATION'],how='left')

In [14]:
panel_df.isna().sum()

YEAR                                  0
LOCATION                              0
AREA HARVESTED in ACRES               0
AREA PLANTED in ACRES                 0
PRODUCTION in BU                      0
YIELD in BU / ACRE                    0
Cooling_degree_days                  34
Heating_degree_days                  34
PDSI                                 34
PHDI                                 34
Palmer-Z-index                       34
Crop Moisture Stress Index (CMSI)    34
Avg_Temp_Season_1                    34
Avg_Temp_Season_2                    34
Avg_Temp_Season_3                    34
Avg_Temp_Season_4                    34
Max_Temp_Season_1                    34
Max_Temp_Season_2                    34
Max_Temp_Season_3                    34
Max_Temp_Season_4                    34
Min_Temp_Season_1                    34
Min_Temp_Season_2                    34
Min_Temp_Season_3                    34
Min_Temp_Season_4                    34
dtype: int64

In [22]:
panel_df.columns

Index(['YEAR', 'LOCATION', 'AREA HARVESTED in ACRES', 'AREA PLANTED in ACRES',
       'PRODUCTION in BU', 'YIELD in BU / ACRE', 'Cooling_degree_days',
       'Heating_degree_days', 'PDSI', 'PHDI', 'Palmer-Z-index',
       'Crop Moisture Stress Index (CMSI)', 'Avg_Temp_Season_1',
       'Avg_Temp_Season_2', 'Avg_Temp_Season_3', 'Avg_Temp_Season_4',
       'Max_Temp_Season_1', 'Max_Temp_Season_2', 'Max_Temp_Season_3',
       'Max_Temp_Season_4', 'Min_Temp_Season_1', 'Min_Temp_Season_2',
       'Min_Temp_Season_3', 'Min_Temp_Season_4'],
      dtype='object')