# Check some of the notebooks I already downloaded, and convert to panel ready format.

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
import os

In [6]:
os.listdir('../dat')

['mintemp_climate_df.csv',
 'SOYBEANS-Insecticides-2019-11-21.csv',
 '.DS_Store',
 'Crop_moisture_stress_index.xlsx',
 'avgtemp_climate_df.csv',
 'FARM OPERATIONS-FarmNumbersTotal-2019-11-21.csv',
 'SOYBEANS-CropCondition-2019-11-21.csv',
 'SOYBEANS-Herbicides-2019-11-21.csv',
 'cdd_climate_df.csv',
 'SOYBEANS-AcreageYieldProductionandPrice-2019-11-21.csv',
 'SOYBEANS-Fungicides-2019-11-21.csv',
 'hdd_climate_df.csv',
 'fertilizers_cleaned.csv',
 'maxtemp_climate_df.csv',
 '.ipynb_checkpoints',
 'fungicides_cleaned.csv',
 'SOYBEANS-Fertilizers-2019-11-21.csv',
 'herbicides_cleaned.csv',
 'precipitation_climate_df.csv',
 'insecticides_cleaned.csv',
 'clean_yield.csv']

In [7]:
fertilizers = pd.read_csv('../dat/SOYBEANS-Fertilizers-2019-11-21.csv')

In [8]:
fertilizers.columns

Index(['YEAR', 'LOCATION', 'STATE ANSI', 'ASD CODE', 'COUNTY ANSI',
       'REFERENCE PERIOD', 'COMMODITY', 'DOMAINCAT', 'APPLICATIONS in LB',
       'APPLICATIONS in LB / ACRE / APPLICATION, AVG',
       'APPLICATIONS in LB / ACRE / YEAR, AVG', 'APPLICATIONS in NUMBER, AVG',
       'TREATED in PCT OF AREA PLANTED, AVG'],
      dtype='object')

First, I'll just very quickly show what this new format will look like. 
I want to add the fertilizer domaincat to the column of applications, that way the new feature is for every year_state entry, the feature is "Fertilizer Type Applications in xxxx"

In [9]:

def generalized_cleaning(df,index,keyname1,keyname2):
    """
    fix up the data format by renaming the columns based on the specific applications. 
    
    Example is that when this is used on the fertilizer df, the index is DOMAINCAT which separates on 
    different fertilizer types, and the keyname is to add the specific fertilizer type for any 
    time the column says APPLICATIONS which is the feature we care about. 
    """
    df_list = []
    colstocheck = [col for col in df.columns if keyname1 in col or keyname2 in col]
 #   print(colstocheck)
    for item, g in df.groupby(index):
  #     print(item)
        for col in colstocheck:
         #  print(item, col)
            g[item + col] = g[col]
          #  print(item + col)
         #   print("Did that print!?!?!")
            del g[col]
       # return g
        df_list.append(g)
        
    for i in range(len(df_list)):
        if i == 0:
            new_df = df_list[0]

        if 0 < i < len(df_list):
            new_df = new_df.merge(df_list[i], on = ['YEAR','LOCATION'],how='outer')
            
    return new_df

In [10]:
fertilizer_clean = generalized_cleaning(fertilizers,'DOMAINCAT','APPLICATIONS','TREATED')[['YEAR','LOCATION','FERTILIZER: (NITROGEN)APPLICATIONS in LB',
       'FERTILIZER: (NITROGEN)APPLICATIONS in LB / ACRE / APPLICATION, AVG',
       'FERTILIZER: (NITROGEN)APPLICATIONS in LB / ACRE / YEAR, AVG',
       'FERTILIZER: (NITROGEN)APPLICATIONS in NUMBER, AVG',
       'FERTILIZER: (NITROGEN)TREATED in PCT OF AREA PLANTED, AVG',
    'FERTILIZER: (PHOSPHATE)APPLICATIONS in LB',
       'FERTILIZER: (PHOSPHATE)APPLICATIONS in LB / ACRE / APPLICATION, AVG',
       'FERTILIZER: (PHOSPHATE)APPLICATIONS in LB / ACRE / YEAR, AVG',
       'FERTILIZER: (PHOSPHATE)APPLICATIONS in NUMBER, AVG',
    'FERTILIZER: (POTASH)APPLICATIONS in LB / ACRE / APPLICATION, AVG',
       'FERTILIZER: (POTASH)APPLICATIONS in LB / ACRE / YEAR, AVG',
       'FERTILIZER: (POTASH)APPLICATIONS in NUMBER, AVG',
       'FERTILIZER: (POTASH)TREATED in PCT OF AREA PLANTED, AVG',
    'FERTILIZER: (SULFUR)APPLICATIONS in LB / ACRE / APPLICATION, AVG',
       'FERTILIZER: (SULFUR)APPLICATIONS in LB / ACRE / YEAR, AVG',
       'FERTILIZER: (SULFUR)APPLICATIONS in NUMBER, AVG',
       'FERTILIZER: (SULFUR)TREATED in PCT OF AREA PLANTED, AVG'
    
]]

/Users/noahkasmanoff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [11]:
fertilizer_clean

,YEAR,LOCATION,FERTILIZER: (NITROGEN)APPLICATIONS in LB,"FERTILIZER: (NITROGEN)APPLICATIONS in LB / ACRE / APPLICATION, AVG","FERTILIZER: (NITROGEN)APPLICATIONS in LB / ACRE / YEAR, AVG","FERTILIZER: (NITROGEN)APPLICATIONS in NUMBER, AVG","FERTILIZER: (NITROGEN)TREATED in PCT OF AREA PLANTED, AVG",FERTILIZER: (PHOSPHATE)APPLICATIONS in LB,"FERTILIZER: (PHOSPHATE)APPLICATIONS in LB / ACRE / APPLICATION, AVG","FERTILIZER: (PHOSPHATE)APPLICATIONS in LB / ACRE / YEAR, AVG","FERTILIZER: (PHOSPHATE)APPLICATIONS in NUMBER, AVG","FERTILIZER: (POTASH)APPLICATIONS in LB / ACRE / APPLICATION, AVG","FERTILIZER: (POTASH)APPLICATIONS in LB / ACRE / YEAR, AVG","FERTILIZER: (POTASH)APPLICATIONS in NUMBER, AVG","FERTILIZER: (POTASH)TREATED in PCT OF AREA PLANTED, AVG","FERTILIZER: (SULFUR)APPLICATIONS in LB / ACRE / APPLICATION, AVG","FERTILIZER: (SULFUR)APPLICATIONS in LB / ACRE / YEAR, AVG","FERTILIZER: (SULFUR)APPLICATIONS in NUMBER, AVG","FERTILIZER: (SULFUR)TREATED in PCT OF AREA PLANTED, AVG"
0,1996,ARKANSAS,"8,200,000",26,26,1,9,"76,400,000",46,48,1,60,60,1,43,NaN,NaN,NaN,NaN
1,1996,ILLINOIS,"32,400,000",22,22,1,15,"128,300,000",55,56,1,99,99,1,34,NaN,NaN,NaN,NaN
2,1996,INDIANA,"37,900,000",26,31,1.2,23,"79,100,000",44,45,1,99,102,1,44,NaN,NaN,NaN,NaN
3,1996,IOWA,"19,500,000",26,26,1,8,"55,200,000",49,49,1,75,76,1,14,NaN,NaN,NaN,NaN
4,1996,LOUISIANA,"700,000",14,14,1,4,"17,100,000",43,43,1,70,70,1,34,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,2018,OHIO,"22,800,000",12,14,1.1,33,"107,500,000",58,59,1,97,103,1.1,57,5,8,1.5,4
208,2018,SOUTH DAKOTA,"28,900,000",11,12,1.1,42,"141,400,000",45,46,1,33,34,1,28,8,8,1,13
209,2018,TENNESSEE,"26,700,000",24,24,1,65,"89,300,000",67,69,1,85,87,1,72,9,9,1,21
210,2018,VIRGINIA,"6,300,000",19,20,1.1,53,"15,400,000",45,46,1,86,89,1,65,7,7,1,27
211,2018,WISCONSIN,"15,900,000",16,20,1.3,37,"70,000,000",62,63,1,105,106,1,74,17,19,1.1,29

# Success!!! Still need to clean this for imputing values and convert to float/int, but thats for another time. Next up is herbicides

In [12]:
herbicides = pd.read_csv('../dat/SOYBEANS-Herbicides-2019-11-21.csv')

In [13]:
herbicides_clean = generalized_cleaning(df=herbicides,index='DOMAINCAT',keyname1='APPLICATIONS',keyname2='TREATED')

/Users/noahkasmanoff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [14]:
cols_to_keep = [col for col in herbicides_clean.columns if 'APPLICATIONS' in col or 'TREATED' in col]

In [15]:
herbicides_clean = pd.concat([herbicides_clean[['YEAR','LOCATION']],herbicides_clean[cols_to_keep]],axis=1)

# Success again!! Still need to handle missing vals + to float operations, but both can be managed.

In [16]:
#next up, insecticides

insecticides = pd.read_csv('../dat/SOYBEANS-Insecticides-2019-11-21.csv')

In [17]:
insecticides_clean = generalized_cleaning(insecticides,'DOMAINCAT','APPLICATIONS','TREATED')

/Users/noahkasmanoff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [18]:
cols_to_keep = [col for col in insecticides_clean.columns if 'APPLICATIONS' in col or 'TREATED' in col]

In [19]:
insecticides_clean = pd.concat([insecticides_clean[['YEAR','LOCATION']],insecticides_clean[cols_to_keep]],axis=1)

In [20]:
insecticides_clean.sample(n=3)

,YEAR,LOCATION,"CHEMICAL, INSECTICIDE: (ABAMECTIN = 122804)APPLICATIONS in LB","CHEMICAL, INSECTICIDE: (ABAMECTIN = 122804)APPLICATIONS in LB / ACRE / APPLICATION, AVG","CHEMICAL, INSECTICIDE: (ABAMECTIN = 122804)APPLICATIONS in LB / ACRE / YEAR, AVG","CHEMICAL, INSECTICIDE: (ABAMECTIN = 122804)APPLICATIONS in NUMBER, AVG","CHEMICAL, INSECTICIDE: (ABAMECTIN = 122804)TREATED in PCT OF AREA PLANTED, AVG","CHEMICAL, INSECTICIDE: (ACEPHATE = 103301)APPLICATIONS in LB","CHEMICAL, INSECTICIDE: (ACEPHATE = 103301)APPLICATIONS in LB / ACRE / APPLICATION, AVG","CHEMICAL, INSECTICIDE: (ACEPHATE = 103301)APPLICATIONS in LB / ACRE / YEAR, AVG",...,"CHEMICAL, INSECTICIDE: (TOTAL)APPLICATIONS in LB","CHEMICAL, INSECTICIDE: (TOTAL)APPLICATIONS in LB / ACRE / APPLICATION, AVG","CHEMICAL, INSECTICIDE: (TOTAL)APPLICATIONS in LB / ACRE / YEAR, AVG","CHEMICAL, INSECTICIDE: (TOTAL)APPLICATIONS in NUMBER, AVG","CHEMICAL, INSECTICIDE: (TOTAL)TREATED in PCT OF AREA PLANTED, AVG","CHEMICAL, INSECTICIDE: (ZETA-CYPERMETHRIN = 129064)APPLICATIONS in LB","CHEMICAL, INSECTICIDE: (ZETA-CYPERMETHRIN = 129064)APPLICATIONS in LB / ACRE / APPLICATION, AVG","CHEMICAL, INSECTICIDE: (ZETA-CYPERMETHRIN = 129064)APPLICATIONS in LB / ACRE / YEAR, AVG","CHEMICAL, INSECTICIDE: (ZETA-CYPERMETHRIN = 129064)APPLICATIONS in NUMBER, AVG","CHEMICAL, INSECTICIDE: (ZETA-CYPERMETHRIN = 129064)TREATED in PCT OF AREA PLANTED, AVG"
39,2017,WISCONSIN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,(D),,,,(D),(D),(D),(D),(D),(D)
124,2000,OHIO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"2,000",,,,1,NaN,NaN,NaN,NaN,NaN
7,2012,NORTH CAROLINA,NaN,NaN,NaN,NaN,NaN,(D),(D),(D),...,"40,000",,,,31,(D),(D),(D),(D),(D)

# You know the drill at this point.

In [21]:
fungicides = pd.read_csv('../dat/SOYBEANS-Fungicides-2019-11-21.csv')

In [22]:
fungicides_clean = generalized_cleaning(fungicides,'DOMAINCAT','APPLICATIONS','TREATED')
cols_to_keep = [col for col in fungicides_clean.columns
                if 'APPLICATIONS' in col or 'TREATED' in col]

fungicides_clean = pd.concat([fungicides_clean[['YEAR',
            'LOCATION']],fungicides_clean[cols_to_keep]],
                            axis=1)

/Users/noahkasmanoff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

# Now that all the environmental information is loaded in, as promised, here's how I'd now convert each of their recorded applications and treatment features first all into numbers.

In [34]:
def make_numbers(cleaned_df_,startcol = 2):
    cleaned_df = cleaned_df_.copy(deep=True)
    for col in cleaned_df.columns[startcol:]:
        cleaned_df.fillna('-1',inplace=True)
        cleaned_df[col] = cleaned_df[col].apply(lambda z:
                       z.replace('(D)','0'))
        cleaned_df[col] = cleaned_df[col].apply(lambda z:
                       z.replace('(NA)','-1'))
        cleaned_df[col] = cleaned_df[col].apply(lambda z:
                       z.replace('(Z)','0'))
        cleaned_df[col] = cleaned_df[col].apply(lambda z:
                       z.replace(' ','0'))
        cleaned_df[col] = cleaned_df[col].apply(lambda z:
                       z.replace(',',''))
        cleaned_df[col] = cleaned_df[col].apply(lambda z:
                                               float(z))    
    
    return cleaned_df.replace(-1,np.nan)

In [24]:
fung_clean = make_numbers(fungicides_clean)

In [25]:
fung_clean.to_csv('../dat/fungicides_cleaned.csv',index=False
            )

In [26]:
insect_clean = make_numbers(insecticides_clean)

In [27]:
insect_clean.to_csv('../dat/insecticides_cleaned.csv',index=False)

In [28]:
fert_clean = make_numbers(fertilizer_clean)
fert_clean.to_csv('../dat/fertilizers_cleaned.csv',index=False)

In [29]:
herb_clean = make_numbers(herbicides_clean)

herb_clean.to_csv('../dat/herbicides_cleaned.csv',index=False)

In [30]:
farm_operations = pd.read_csv('../dat/FARM OPERATIONS-FarmNumbersTotal-2019-11-21.csv')

In [40]:
farm_operations = make_numbers(farm_operations,startcol=7)

In [41]:
farm_operations[['YEAR','LOCATION','AREA OPERATED in ACRES', '']]

,YEAR,LOCATION,STATE ANSI,ASD CODE,COUNTY ANSI,REFERENCE PERIOD,COMMODITY,AREA OPERATED in ACRES,AREA OPERATED in ACRES / OPERATION,OPERATIONS in OPERATIONS
0,1996,ALABAMA,01,,,YEAR,FARM OPERATIONS,9700000.0,198.0,49000.0
1,1996,ALASKA,02,,,YEAR,FARM OPERATIONS,920000.0,1673.0,550.0
2,1996,ARIZONA,04,,,YEAR,FARM OPERATIONS,28300000.0,3582.0,7900.0
3,1996,ARKANSAS,05,,,YEAR,FARM OPERATIONS,14900000.0,301.0,49500.0
4,1996,CALIFORNIA,06,,,YEAR,FARM OPERATIONS,29000000.0,337.0,86000.0
...,...,...,...,...,...,...,...,...,...,...
1151,2018,VIRGINIA,51,,,YEAR,FARM OPERATIONS,7800000.0,184.0,42500.0
1152,2018,WASHINGTON,53,,,YEAR,FARM OPERATIONS,14700000.0,412.0,35700.0
1153,2018,WEST VIRGINIA,54,,,YEAR,FARM OPERATIONS,3600000.0,154.0,23400.0
1154,2018,WISCONSIN,55,,,YEAR,FARM OPERATIONS,14300000.0,221.0,64800.0
1155,2018,WYOMING,56,,,YEAR,FARM OPERATIONS,29000000.0,2437.0,11900.0

In [43]:
moisture = pd.read_excel('../dat/Crop_moisture_stress_index.xlsx')

    Year  Crop Moisture Stress Index (CMSI)
0   1996                              8.025
1   1997                              8.560
2   1998                              6.240
3   1999                             19.030
4   2000                             11.040
5   2001                              7.810
6   2002                             21.965
7   2003                             22.930
8   2004                              2.555
9   2005                              8.920
10  2006                             14.705
11  2007                             34.620
12  2008                             10.385
13  2009                              3.385
14  2010                             18.000
15  2011                             27.270
16  2012                             59.275
17  2013                             24.185
18  2014                              5.620
19  2015                              5.490
20  2016                              8.780
21  2017                             12.825
22  2018                              3.750
23  2019                              4.355