# In Notebook 2 is an incomplete process of refining the features collected into a format to model with the panel dataframe. While I did clean a decent portion of the data scraped there are still more to refine, and of the ones we did, there is still the challenge of missing values. In this notebook we'll handle the NaNs.

In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
import os

In [23]:
#to start like in 2, let's just manage one 
#dataset at a time
soybean_yield = pd.read_csv('../dat/clean_yield.csv')
fertilizers = pd.read_csv('../dat/fertilizers_cleaned.csv')
insecticides = pd.read_csv('../dat/insecticides_cleaned.csv')
herbicides = pd.read_csv('../dat/herbicides_cleaned.csv')
fungicides = pd.read_csv('../dat/fungicides_cleaned.csv')

climate_data  = pd.read_csv('../../data/climate_df_withtemp.csv')
climate_data = climate_data[climate_data.columns[2:]]

In [24]:
panel_stuff = [fertilizers,insecticides,herbicides,fungicides,climate_data]

So what do we want to do? See what states and/or years they share.

In [25]:
panel_df = soybean_yield.copy(deep=True)

for df in panel_stuff:
    panel_df = panel_df.merge(df,on=['YEAR','LOCATION'],how='left')

These are states we have yield data for but no fertilizer data for.

In [27]:
panel_df.to_csv('../../panel_df.csv',index=False)

,YEAR,LOCATION,AREA HARVESTED in ACRES,AREA PLANTED in ACRES,PRODUCTION in BU,YIELD in BU / ACRE,FERTILIZER: (NITROGEN)APPLICATIONS in LB,"FERTILIZER: (NITROGEN)APPLICATIONS in LB / ACRE / APPLICATION, AVG","FERTILIZER: (NITROGEN)APPLICATIONS in LB / ACRE / YEAR, AVG","FERTILIZER: (NITROGEN)APPLICATIONS in NUMBER, AVG",...,Avg_Temp_Season_3,Avg_Temp_Season_4,Max_Temp_Season_1,Max_Temp_Season_2,Max_Temp_Season_3,Max_Temp_Season_4,Min_Temp_Season_1,Min_Temp_Season_2,Min_Temp_Season_3,Min_Temp_Season_4
0,1996,ALABAMA,305000.0,320000.0,10370000.0,34.0,-999.0,-999.0,-999.0,-999.0,...,76.533333,54.833333,59.100000,82.166667,87.100000,66.400000,35.366667,57.600000,66.000000,43.366667
1,1996,ARKANSAS,3500000.0,3550000.0,112000000.0,32.0,8200000.0,26.0,26.0,1.0,...,75.600000,50.800000,54.733333,80.000000,86.066667,60.933333,31.100000,57.833333,65.133333,40.633333
2,1996,DELAWARE,217000.0,220000.0,7595000.0,35.0,-999.0,-999.0,-999.0,-999.0,...,71.833333,46.533333,44.800000,72.100000,81.433333,55.800000,26.566667,52.066667,62.233333,37.166667
3,1996,FLORIDA,33000.0,35000.0,1056000.0,32.0,-999.0,-999.0,-999.0,-999.0,...,80.633333,65.633333,70.766667,85.600000,90.100000,76.433333,46.533333,63.700000,71.100000,54.800000
4,1996,GEORGIA,390000.0,400000.0,10140000.0,26.0,-999.0,-999.0,-999.0,-999.0,...,77.066667,55.033333,60.333333,82.866667,87.433333,67.000000,36.200000,57.633333,66.700000,43.066667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
736,2019,SOUTH DAKOTA,3560000.0,3600000.0,153080000.0,43.0,-999.0,-999.0,-999.0,-999.0,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
737,2019,TENNESSEE,1380000.0,1400000.0,64860000.0,47.0,-999.0,-999.0,-999.0,-999.0,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
738,2019,TEXAS,68000.0,80000.0,2108000.0,31.0,-999.0,-999.0,-999.0,-999.0,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
739,2019,VIRGINIA,560000.0,570000.0,19040000.0,34.0,-999.0,-999.0,-999.0,-999.0,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000
740,2019,WISCONSIN,1730000.0,1750000.0,79580000.0,46.0,-999.0,-999.0,-999.0,-999.0,...,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000,-999.000000