# In Notebook 2 is an incomplete process of refining the features collected into a format to model with the panel dataframe. While I did clean a decent portion of the data scraped there are still more to refine, and of the ones we did, there is still the challenge of missing values. In this notebook we'll handle the NaNs.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline
import os

In [11]:
panel_df = pd.read_csv('../../panel_df.csv')

In [12]:
#
panel_df = panel_df.groupby('LOCATION',as_index=False).apply(lambda group: group.ffill())

# FFILL Logic:

# Fertilizer usage is the same until noted otherwise.

In [16]:
panel_df.describe().T

,count,mean,std,min,25%,50%,75%,max
YEAR,741.0,2.007617e+03,6.895862e+00,1996.000000,2.002000e+03,2.008000e+03,2.014000e+03,2.019000e+03
AREA HARVESTED in ACRES,741.0,2.433598e+06,2.772180e+06,0.000000,3.300000e+05,1.360000e+06,4.190000e+06,1.092000e+07
AREA PLANTED in ACRES,741.0,2.466934e+06,2.789264e+06,0.000000,3.500000e+05,1.400000e+06,4.250000e+06,1.100000e+07
PRODUCTION in BU,741.0,1.040281e+08,1.326583e+08,0.000000,1.014000e+07,4.690000e+07,1.553300e+08,6.667500e+08
YIELD in BU / ACRE,741.0,3.767004e+01,9.658463e+00,0.000000,3.100000e+01,3.800000e+01,4.450000e+01,6.350000e+01
...,...,...,...,...,...,...,...,...
Max_Temp_Season_4,736.0,5.658351e+01,9.774674e+00,30.233333,4.980000e+01,5.650000e+01,6.417500e+01,8.110000e+01
Min_Temp_Season_1,736.0,2.728351e+01,1.077454e+01,-2.500000,2.016667e+01,2.783333e+01,3.477500e+01,5.343333e+01
Min_Temp_Season_2,736.0,5.217894e+01,6.645631e+00,37.533333,4.693333e+01,5.216667e+01,5.747500e+01,6.783333e+01
Min_Temp_Season_3,736.0,6.210349e+01,5.572442e+00,49.833333,5.760000e+01,6.236667e+01,6.670000e+01,7.356667e+01
Min_Temp_Season_4,736.0,3.579253e+01,8.338553e+00,11.400000,3.045000e+01,3.623333e+01,4.118333e+01,6.296667e+01

In [25]:
y = panel_df['YIELD in BU / ACRE']

X = panel_df.drop(columns=['YEAR','LOCATION','AREA HARVESTED in ACRES','PRODUCTION in BU','YIELD in BU / ACRE'])

In [28]:
X.fillna(-1,inplace=True)

In [32]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [33]:
X_train,X_test, y_train,y_test = train_test_split(X,y)

In [34]:
linreg = LinearRegression(normalize=True)

In [42]:
linreg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [43]:
linreg.score(X_train,y_train)

0.8002707875657499