# How I'd go about making each climate dataset go from a long to wide format, where each col corresponds to the seasonal average. May also want max, variance etc, so I'll keep it as generalized asa possible.

In [1]:
import pandas as pd
import numpy as np

In [2]:
temp_df = pd.read_csv('../dat/avgtemp_climate_df.csv')

In [21]:
def make_seasons(z):
    """
    Using apply logic, this will create an indicator for what season a month in a given index
    corresponds to. 
    """
    
    
    if  z <=3:
        return '1'
    
    if 4<=  z <= 6:
        return '2'
    if 7 <= z <= 9:
        return '3'
    if 10 <= z <= 12: 
        return '4'

In [22]:
temp_df['Season #'] = temp_df['MONTH'].apply(lambda z: make_seasons(z))

In [27]:
temp_df.groupby(['LOCATION','YEAR','Season #'])['Avg_Temperature'].mean().reset_index()

     LOCATION  YEAR Season #  Avg_Temperature
0     ALABAMA  1996        1        47.233333
1     ALABAMA  1996        2        69.900000
2     ALABAMA  1996        3        76.533333
3     ALABAMA  1996        4        54.833333
4     ALABAMA  1997        1        52.633333
...       ...   ...      ...              ...
4552  WYOMING  2018        1        25.600000
4553  WYOMING  2018        2        51.000000
4554  WYOMING  2018        3        62.633333
4555  WYOMING  2018        4        30.366667
4556  WYOMING  2019        1        22.200000

[4557 rows x 4 columns]