# How I'd go about making each climate dataset go from a long to wide format, where each col corresponds to the seasonal average. May also want max, variance etc, so I'll keep it as generalized asa possible.

In [28]:
import pandas as pd
import numpy as np

In [29]:
temp_df = pd.read_csv('../dat/avgtemp_climate_df.csv')

In [30]:
def make_seasons(z):
    """
    Using apply logic, this will create an indicator for what season a month in a given index
    corresponds to. 
    """
    
    
    if  z <=3:
        return '1'
    
    if 4<=  z <= 6:
        return '2'
    if 7 <= z <= 9:
        return '3'
    if 10 <= z <= 12: 
        return '4'

In [31]:
temp_df['Season #'] = temp_df['MONTH'].apply(lambda z: make_seasons(z))

In [33]:
temp_df = temp_df.groupby(['LOCATION','YEAR','Season #'])['Avg_Temperature'].mean().reset_index()

In [36]:
temp_df.head()

  LOCATION  YEAR Season #  Avg_Temperature
0  ALABAMA  1996        1        47.233333
1  ALABAMA  1996        2        69.900000
2  ALABAMA  1996        3        76.533333
3  ALABAMA  1996        4        54.833333
4  ALABAMA  1997        1        52.633333

Now to split this out wide

In [58]:
temp_df.pivot_table(index=['YEAR','LOCATION'],columns=['Season #','Avg_Temperature'])

DataError: No numeric types to aggregate

In [53]:
g

  LOCATION  YEAR Season #  Avg_Temperature
0  ALABAMA  1996        1        47.233333
1  ALABAMA  1996        2        69.900000
2  ALABAMA  1996        3        76.533333
3  ALABAMA  1996        4        54.833333