Contained below is a generalized procedure for scraping in different

# Read in climate data from the general url above. 

# Steps: First read from the url the actual measurements, which means skipping the first 4 rows. 

# Next, read in just the first row, which contains the name of the state.

In [48]:
import numpy as np
import pandas as pd

In [49]:
state_num = '45' #example number
datatype = 'pcp' #precipitation. Other examples include Tmax, Tavg, etc.

url = 'https://www.ncdc.noaa.gov/cag/statewide/time-series/'+ state_num +'-' + datatype + '-all-1-1996-2019.csv?base_prd=true&begbaseyear=2000&endbaseyear=2019'
climate_df = pd.read_csv(url,skiprows=4)
state = pd.read_csv(url,nrows=0).columns[0]
climate_measure = pd.read_csv(url,nrows=0).columns[1]

print(state)

https://www.ncdc.noaa.gov/cag/statewide/time-series/45-pcp-all-1-1996-2019.csv?base_prd=true&begbaseyear=2000&endbaseyear=2019
Washington

In [50]:
climate_df['Date'] = climate_df['Date'].astype(str)

In [52]:
climate_df['YEAR'] = climate_df['Date'].apply(lambda z: z[0:4])
climate_df['MONTH'] = climate_df['Date'].apply(lambda z: z[4:])

climate_df['LOCATION'] = [state.upper() for i in range(len(climate_df))]
climate_df['DATATYPE'] = [climate_measure.upper() for i in range(len(climate_df))]

#now just re arrange

climate_df = climate_df[['YEAR', 'LOCATION','MONTH','DATATYPE','Value','Anomaly']]

In [53]:
climate_df

     YEAR    LOCATION MONTH        DATATYPE  Value  Anomaly
0    1996  WASHINGTON    01   PRECIPITATION   6.90     0.92
1    1996  WASHINGTON    02   PRECIPITATION   7.71     3.85
2    1996  WASHINGTON    03   PRECIPITATION   2.22    -2.96
3    1996  WASHINGTON    04   PRECIPITATION   5.58     2.33
4    1996  WASHINGTON    05   PRECIPITATION   3.50     1.06
..    ...         ...   ...             ...    ...      ...
272  2018  WASHINGTON    09   PRECIPITATION   1.58    -0.13
273  2018  WASHINGTON    10   PRECIPITATION   3.65    -0.61
274  2018  WASHINGTON    11   PRECIPITATION   5.21    -1.08
275  2018  WASHINGTON    12   PRECIPITATION   7.02     0.85
276  2019  WASHINGTON    01   PRECIPITATION   4.49    -1.49

[277 rows x 6 columns]

Now instead of for just one state and datatype, iterate over all states and datatypes, and aggregate to get average values for seasons like months 1-3, 4-6, etc.

# and when completed, save as csv

In [ ]:
climate_df.to_csv('../dat/complete_climate_df.csv',index=False)