Going to explore some of the data Rahul got.


# Steps

    Read in csv
  
    Extract Data Item and value
     
    Merge together
       
    Join over similar years
    
    Repeat for new csv
    
    Join all

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [5]:


def generalized_cleaning(df):
    
    df_list = []
    for item, g in df.groupby('Data Item'):
        g[item + ' Value'] = g['Value']
        del g['Value']
        g = g[['Year','Week Ending','State', item + ' Value']]
        df_list.append(g)

    for i in range(len(df_list)):
        if i == 0:
            new_df = df_list[0]

        if 0 < i < len(df_list):
            new_df = new_df.merge(df_list[i], on = ['Year','Week Ending','State'])
            
    return new_df

In [6]:
moisture = pd.read_csv('../rahul/data/soybean_moisture.csv')

applications = pd.read_csv('../rahul/data/soybean_applications.csv')

condition = pd.read_csv('../rahul/data/soybean_condition.csv')

pests = pd.read_csv('../rahul/data/soybean_pestmgmt.csv')

In [9]:
generalized_cleaning(pests)

/Users/noahkasmanoff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,Year,Week Ending,State,"SOYBEANS - PEST MGMT, MEASURED IN PCT OF AREA PLANTED Value","SOYBEANS - PEST MGMT, MEASURED IN PCT OF OPERATIONS Value"
0,2018,NaN,ARKANSAS,44,52
1,2018,NaN,ARKANSAS,44,10
2,2018,NaN,ARKANSAS,44,24
3,2018,NaN,ARKANSAS,44,50
4,2018,NaN,ARKANSAS,44,15
...,...,...,...,...,...
168187,2012,NaN,WISCONSIN,0,0
168188,2012,NaN,WISCONSIN,0,35
168189,2012,NaN,WISCONSIN,0,11
168190,2012,NaN,WISCONSIN,0,29
168191,2012,NaN,WISCONSIN,0,0

In [85]:
moisture_df = []
for item, g in moisture.groupby('Data Item'):
    g[item + ' Value'] = g['Value']
    del g['Value']
    g = g[['Year','Week Ending','State', item + ' Value']]
    moisture_df.append(g)
    
for i in range(len(moisture_df)):
    if i == 0:
        new_moisture_df = moisture_df[0]

    if 0 < i < len(moisture_df):
        new_moisture_df = new_moisture_df.merge(moisture_df[i], on = ['Year','Week Ending','State'])

/Users/noahkasmanoff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [86]:
condition_df = []
for item, g in condition.groupby('Data Item'):
    g[item + ' Value'] = g['Value']
    del g['Value']
    g = g[['Year','Week Ending','State', item + ' Value']]
    condition_df.append(g)
    
for i in range(len(condition_df)):
    if i == 0:
        new_condition_df = condition_df[0]

    if 0 < i < len(condition_df):
        new_condition_df = new_condition_df.merge(condition_df[i], on = ['Year','Week Ending','State'])

/Users/noahkasmanoff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [87]:
new_condition_df

,Year,Week Ending,State,"SOYBEANS - CONDITION, MEASURED IN PCT EXCELLENT Value","SOYBEANS - CONDITION, MEASURED IN PCT FAIR Value","SOYBEANS - CONDITION, MEASURED IN PCT GOOD Value","SOYBEANS - CONDITION, MEASURED IN PCT POOR Value","SOYBEANS - CONDITION, MEASURED IN PCT VERY POOR Value"
0,2019,2019-05-12,LOUISIANA,4,45,45,6,0
1,2019,2019-05-12,NORTH CAROLINA,13,7,80,0,0
2,2019,2019-05-19,LOUISIANA,3,44,44,9,0
3,2019,2019-05-19,NORTH CAROLINA,11,15,74,0,0
4,2019,2019-05-26,LOUISIANA,3,39,56,2,0
...,...,...,...,...,...,...,...,...
9800,1997,1997-10-05,NORTH CAROLINA,7,21,53,14,5
9801,1997,1997-10-05,OHIO,21,23,50,5,1
9802,1997,1997-10-05,SOUTH CAROLINA,5,37,40,15,3
9803,1997,1997-10-05,SOUTH DAKOTA,28,15,51,5,1
9804,1997,1997-10-05,TENNESSEE,18,26,50,5,1

In [88]:
applications_df = []
for item, g in applications.groupby('Data Item'):
    g[item + ' Value'] = g['Value']
    del g['Value']
    g = g[['Year','Week Ending','State', item + ' Value']]
    applications_df.append(g)

/Users/noahkasmanoff/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [89]:
for i in range(len(applications_df)):
    if i == 0:
        new_applications_df = applications_df[0]

    if 0 < i < len(applications_df):
        new_applications_df = new_applications_df.merge(applications_df[i], on = ['Year','Week Ending','State'])

In [90]:
new_applications_df

,Year,Week Ending,State,"SOYBEANS - PEST MGMT, MEASURED IN PCT OF AREA PLANTED Value","SOYBEANS - PEST MGMT, MEASURED IN PCT OF OPERATIONS Value"
0,2018,NaN,ARKANSAS,44,52
1,2018,NaN,ARKANSAS,44,10
2,2018,NaN,ARKANSAS,44,24
3,2018,NaN,ARKANSAS,44,50
4,2018,NaN,ARKANSAS,44,15
...,...,...,...,...,...
168187,2012,NaN,WISCONSIN,0,0
168188,2012,NaN,WISCONSIN,0,35
168189,2012,NaN,WISCONSIN,0,11
168190,2012,NaN,WISCONSIN,0,29
168191,2012,NaN,WISCONSIN,0,0

In [91]:
new_moisture_df

,Year,Week Ending,State,"SOYBEANS, AT HARVEST - MOISTURE, 5 YEAR AVG, MEASURED IN PCT Value","SOYBEANS, AT HARVEST - MOISTURE, MEASURED IN PCT Value","SOYBEANS, AT HARVEST - MOISTURE, PREVIOUS YEAR, MEASURED IN PCT Value"
0,2019,2019-10-13,INDIANA,13,13,14
1,2019,2019-10-20,INDIANA,13,13,13
2,2019,2019-10-20,OHIO,13,13,14
3,2019,2019-10-27,INDIANA,13,13,13
4,2019,2019-10-27,OHIO,13,13,13
5,2019,2019-11-03,INDIANA,13,13,14
6,2018,2018-09-23,INDIANA,14,14,16
7,2018,2018-10-14,INDIANA,13,14,13
8,2018,2018-10-21,INDIANA,13,13,12
9,2018,2018-10-28,INDIANA,13,13,13
10,2018,2018-11-04,INDIANA,13,14,13
11,2017,2017-09-24,INDIANA,14,16,14
12,2017,2017-10-15,INDIANA,13,13,13
13,2017,2017-10-22,INDIANA,13,12,13
14,2017,2017-10-29,INDIANA,13,13,13
15,2017,2017-11-05,INDIANA,13,13,13
16,2016,2016-09-25,INDIANA,14,14,13
17,2016,2016-10-16,INDIANA,13,13,12
18,2016,2016-10-23,INDIANA,13,13,11
19,2016,2016-10-30,INDIANA,13,13,12
20,2016,2016-11-06,INDIANA,12,13,11
21,2015,2015-09-20,INDIANA,10,14,12
22,2015,2015-09-27,INDIANA,13,13,14
23,2015,2015-10-04,INDIANA,13,13,14
24,2015,2015-10-18,INDIANA,12,12,14
25,2015,2015-10-25,INDIANA,12,11,14
26,2014,2014-10-19,INDIANA,12,14,11
27,2014,2014-10-26,INDIANA,13,14,13

In [92]:
new_condition_df

,Year,Week Ending,State,"SOYBEANS - CONDITION, MEASURED IN PCT EXCELLENT Value","SOYBEANS - CONDITION, MEASURED IN PCT FAIR Value","SOYBEANS - CONDITION, MEASURED IN PCT GOOD Value","SOYBEANS - CONDITION, MEASURED IN PCT POOR Value","SOYBEANS - CONDITION, MEASURED IN PCT VERY POOR Value"
0,2019,2019-05-12,LOUISIANA,4,45,45,6,0
1,2019,2019-05-12,NORTH CAROLINA,13,7,80,0,0
2,2019,2019-05-19,LOUISIANA,3,44,44,9,0
3,2019,2019-05-19,NORTH CAROLINA,11,15,74,0,0
4,2019,2019-05-26,LOUISIANA,3,39,56,2,0
...,...,...,...,...,...,...,...,...
9800,1997,1997-10-05,NORTH CAROLINA,7,21,53,14,5
9801,1997,1997-10-05,OHIO,21,23,50,5,1
9802,1997,1997-10-05,SOUTH CAROLINA,5,37,40,15,3
9803,1997,1997-10-05,SOUTH DAKOTA,28,15,51,5,1
9804,1997,1997-10-05,TENNESSEE,18,26,50,5,1